<!-- Start Blog -->
<section class="full-page pd-0 clearfix" id="blog">
    <div class="blog">
        <div class="container-fluid">
            <div class="blog-wrapper text-center">
                <div class="section-title">
                    <div class="border-center"></div>
                    <h2>blog</h2>
                    <div class="border-center"></div>
                </div>
                <div class="single-blog" id="macy-container">
                {% for post in site.posts %}
                <div class="single-blog-wrapper wow fadeIn text-left">
                    <div class="single-blog-img">
                        <a href="#" data-toggle="modal" data-target="#blog_details-{{post.post_id}}"><img src="{{post.image}}" alt="{{post.title}}"/></a>
                    </div>
                    <div class="single-blog-content">
                        <a href="#" data-toggle="modal" data-target="#blog_details-{{post.post_id}}"><h5>{{post.title}}</h5></a>
                        <span>posted {{post.date | date_to_string}}</span>
                        <p>{{ post.excerpt | strip_html | truncatewords: 18 }}</p>
                        <div class="clearfix">
                         <a href="#" data-toggle="modal" data-target="#blog_details-{{post.post_id}}" class="blog-details-btn btn btn-link float-left">read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                         <div class="post-share">
                             {% include social_share.html %}
                         </div>
                        </div>

                        <div class="modal fade" id="blog_details-{{post.post_id}}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{ post.title }}</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                         <span class="fa fa-times" aria-hidden="true"></span>
                                     </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ post.content }}</p>
                                     <hr>
                                    <div class="post-comments">
                                      {% include post_comments.html %}
                                     </div>
                                    </div>
                                    <div class="modal-footer">
                                     <div class="share-opt">
                                       {% include social_share.html %}
                                     </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                  </div>
                  {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- End Blog