<!-- Start Certifications -->
<section class="full-page clearfix" id="certifications">
    <div class="services">
        <div class="container-fluid">
            <div class="services-wrapper text-center">
                <div class="section-title">
                    <div class="border-center"></div>
                    <h2>Mes Certifications</h2>
                    <div class="border-center"></div>
                </div>
                <div class="row">
                    {% for certification_data in site.data.certifications %}
                    <div class="col-md-4 col-sm-12">
                        <div class="services-box wow fadeIn text-center">
                         <a href="#"><div class="services-box-logo"><img src="{{site.baseurl}}/{{certification_data.icon}}" alt="services logo"/></div></a>
                            <h5>{{certification_data.title}}</h5>
                            <p>{{certification_data.desc}}</p>
                        </div>
                     </div>
                    {% endfor %}
                  </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services -->