<!-- Start Experiences -->
<section class="full-page clearfix" id="experiences">
    <div class="experiences">
        <div class="container-fluid">
            <div class="experiences-wrapper text-center">
                <div class="section-title">
                    <div class="border-center"></div>
                    <h2>MES EXPÉRIENCES</h2>
                    <div class="border-center"></div>
                </div>
                <div class="experiences-title">
                    <div class="experiences-title-box"><img src="{{site.baseurl}}/assets/images/educational-history-icon.png" alt="educational history icon" />
                    </div>
                    <p>educational HISTORY (1996 - Today)</p>
                </div>
                <div class="experiences-info">
                    <div class="row">
                        {% for exp_data in site.data.experiences %}
                        <div class="col-md-6 col-sm-12">
                            <div class="experiences-info-wrapper wow fadeIn">
                                <div class="experiences-datetime">{{exp_data.year}}</div>
                                <h3>{{exp_data.title}}</h3>
                                <span>{{exp_data.designation}}</span>
                                <p>{{exp_data.desc}}</p>
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
                <div class="experiences-title">
                    <div class="experiences-title-box"><img src="{{site.baseurl}}/assets/images/educational-history-icon.png" alt="educational history icon" />
                    </div>
                    <p>educational HISTORY (1996 - Today)</p>
                </div>
                <div class="work-history">
                  {% include work_history.html %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Experiences -->